*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
sup{
    font-size: smaller;
}
img{
    display: block;
    width: 35%;
    border-radius: 50%;
    margin:  auto;
}
a{
    text-decoration: none;
    display: inline-block;
    color: black;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
    background:#E7E9EB;
}
h3{
    padding: 10px;
}


.m-con{
    max-width: 1400px;
    margin: auto;
}

header{
    padding-top: 30px;
    text-align: center;
}

.notification-area{
    display: flex;
}

.routine, .notification{
    text-align: center;
    padding: 10px 20px; 
    
}
.routine{
    flex: 55%;
    
}
.notification{
    flex: 45%;
    
}

table{
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
td,th{
    border: 1px #333 solid ;
    padding: .5rem;
}

tr:nth-child(even){
    background-color:#dddddd;
}

tr:nth-child(odd){
    background-color:white;
}

td{
    font-size: small;
}

#ex-d{
    border-bottom: 3px #333 solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#ex-d:hover{
    border-bottom: 3px solid #f54748;
}

.ex-d-c{
    flex: 50%;
    text-align: left;
}

.ex-d-c h4{
    padding: 10px 10px 0px 10px;
    text-align: center;
}

/* .line{
    margin: 0 15rem;
    border-top: 1px solid #333;
} */

.ex-d-c p{
    padding: 5px 20px;
}

.course-detail{
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content:center;
    flex-wrap: inherit;
}

.course{
    width: 500px;
    padding: 10px;
    margin: 10px;
    border-bottom: 3px #333 solid;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box1:hover{
    border-bottom: 3px #E50058 solid;
}
.box2:hover{
    border-bottom: 3px #ffc074 solid;
}
.box3:hover{
    border-bottom: 3px #6FB9B5 solid;
}
.box4:hover{
    border-bottom: 3px #ffc107 solid;
}


.course a{
    padding: .25rem .5rem;
    margin: .5rem;
    border: 1px #333 solid;
    border-radius: 5px;
    font-weight: bold;
    background-color: #dddddd;
}

.course a:hover{
    color: whitesmoke;
    background: #323232;
}
.imgs{
    padding: 5px;
    margin: 5px; 
    text-align: center;
}

.course-con{
    padding: 5px;
    margin: 10px; 
}
.course-links{
    padding: 5px;
    margin: 10px;
}


@media screen and (max-width: 480px) {
    .notification-area{
        display: flex;
        flex-direction: column;
        flex-wrap: inherit;
    }
    .course-detail{
        display: flex;
        flex-direction: column;
        flex-wrap: inherit;
    }
    .routine, .notification, .course{
        width: auto;
        padding: 10px
    }

}