*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
sup{
    font-size: smaller;
}
img{
    width: 100px;
    border-radius: 50%;
}
a{
    text-decoration: none;
    display: inline-block;
    color: black;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
}
h3{
    padding: 10px;
}


.m-con{
    max-width: 1400px;
    margin: auto;
}

header{
    padding-top: 30px;
    text-align: center;
}

.notification-area{
    display: flex;
}

.routine, .notification{
    text-align: center;
    padding: 10px 20px; 
    
}
.routine{
    flex: 55%;
}
.notification{
    flex: 45%;
}

table{
    border-collapse: collapse;
    width: 100%;
}
td,th{
    border: 1px #333 solid ;
    padding: .5rem;
}

tr:nth-child(even){
    background-color:#dddddd;
}
td{
    font-size: small;
}

#ex-d{
    border: 1px #333 solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.ex-d-c{
    flex: 50%;
    text-align: left;
}

.ex-d-c h4{
    padding: 10px 10px 0px 10px;
    text-align: center;
}

/* .line{
    margin: 0 15rem;
    border-top: 1px solid #333;
} */

.ex-d-c p{
    padding: 5px 20px;
}

.course-detail{
    display: flex;
    justify-content:center;
    flex-wrap: inherit;
}

.course{
    width: 500px;
    padding: 10px;
    margin: 10px;
    border: 1px #333 solid;
    border-radius: 5px;
    text-align: center;
}

.course a{
    padding: .25rem .5rem;
    margin: .5rem;
    border: 1px #333 solid;
    border-radius: 5px;
    font-weight: bold;
    background-color: #dddddd;
}

.course a:hover{
    color: whitesmoke;
    background: #323232;
}

@media screen and (max-width: 480px) {
    .notification-area{
        display: flex;
        flex-direction: column;
        flex-wrap: inherit;
    }
    .course-detail{
        display: flex;
        flex-direction: column;
        flex-wrap: inherit;
    }
    .routine, .notification, .course{
        width: auto;
        padding: 10px
    }

}